:root {
  --gainsboro: #d9d9d9;
  --davys: #545454;
  --jet: #2A2A2A;
  --jonquil: #f4d040;
  --mikado: #FFC107;
}

.nav-style {
  background-color: var(--davys);
}

.gainsboro-bg {
  background-color: var(--gainsboro);
}

h1 {
  font-size: 80px;
  font-weight: bold;
}

h2 {
  font-size: 40px;
  font-weight: bold;
}

h3 {
  font-size: 32px;
  font-weight: bold;
  text-decoration-line: underline;
}

p {
  font-size: 20px;
}

text-center {
  text-align: center;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-padding {
  padding-top: 30px;
  padding-bottom: 30px;
}

hr {
  height: 1px;
  background: black;
}