:root {
  --gainsboro: #d9d9d9;
  --davys: #545454;
  --jet: #2A2A2A;
  --jonquil: #f4d040;
  --mikado: #FFC107;
}

body {
  background-color: var(--gainsboro);
}

.nav-color {
  background-color: var(--davys);
}

.mikado-btn:hover {
  color: var(--jet);
}

.mikado-btn:active {
  color: var(--jet) !important;
}