<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>App</title>
    
    <!-- CSS only -->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />

    <!-- jquery imports -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://www.desmos.com/api/v1.6/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://unpkg.com/konva@8.1.1/konva.min.js"></script>

    <!-- end -->
    <link rel="stylesheet" href="{% static 'main/main.css' %}" />
    <link rel="stylesheet" href="{% static 'app/style.css' %}" />

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script
      type="text/javascript"
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>

    <style>

    </style>
  </head>
  <body>
    <!-- header start -->
    <header>
      <nav
        class="davys-bg navbar navbar-expand navbar-dark sticky-top"
        style="z-index: 999"
      >
        <div class="col-md-8 offset-md-2">
          <div class="row">
            <div class="mr-auto navbar-nav">
              <a class="navbar-brand" href="{% url 'home' %}">
                <img
                  src="{% static 'main/tracr.png' %}"
                  class="d-inline-block align-top"
                  width="75px"
                  alt="tracr"
                />
              </a>
            </div>
            <div class="navbar-nav">
              <a href="{% url 'home' %}" class="btn btn-outline-warning"
                >Home</a
              >
            </div>
          </div>
        </div>
      </nav>
    </header>
    <!-- end of header -->
    <div class="d-flex flex-column">
      <div
        class="d-flex flex-row bd-highlight"
        style="height: auto; border: 2px solid #ccc"
      >
        <!-- tools section -->
        <div class="p-3 bd-highlight all-tools" style="border: 1px solid #ccc">
          <div class="onoffswitch">
            <input
              type="checkbox"
              name="onoffswitch"
              class="onoffswitch-checkbox"
              id="myonoffswitch"
              tabindex="0"
            />
            <label class="onoffswitch-label" for="myonoffswitch">
              <span class="onoffswitch-inner"></span>
              <span class="onoffswitch-switch"
                ><i class="fa fas fa-video toggle-icon"></i
              ></span>
            </label>
          </div>
          <div class="tools">
            <button onclick="undo_last()" type="button" class="button">
              <i class="fa fa-solid fa-undo"></i>
            </button>
            <button onclick="clear_canvas()" type="button" class="button">
              <i class="fa fa-solid fa-trash"></i>
            </button>
            <div
              onclick="change_color(this, 'black')"
              class="color-field"
              style="background: black"
            ></div>
            <div
              onclick="change_color(this, 'red')"
              class="color-field"
              style="background: red"
            ></div>
            <div
              onclick="change_color(this,'blue')"
              class="color-field"
              style="background: blue"
            ></div>
            <div
              onclick="change_color(this,'orange')"
              class="color-field"
              style="background: orange"
            ></div>
            <div
              onclick="change_color(this,'green')"
              class="color-field"
              style="background: green"
            ></div>
            <div
              onclick="change_color(this,'yellow')"
              class="color-field"
              style="background: yellow"
            ></div>
            <div
              onclick="change_color(this,'violet')"
              class="color-field"
              style="background: violet"
            ></div>

            <input
              oninput="draw_color = this.value"
              type="color"
              class="color-picker"
            />
            <span class="pt-2" style="text-align: center; font-size: large"
              ><i class="fas fa-palette"></i
            ></span>
            <input
              type="range"
              min="1"
              max="100"
              class="mt-5 pen-range"
              oninput="draw_width = this.value"
            />
            <span class="pt-2" style="text-align: center; font-size: large"
              ><i class="fa fas fa-paint-brush"></i
            ></span>
            
        
          </div>
          
        </div>
        <!-- end of tools -->

        <!-- canvas section -->
        <div class="d-flex flex-column bd-highlight">
          <div
            class="p-1 expression"
            style="width: 1282px; height: 14vh; border: 1px solid #ccc"
          >
            <h4 class="pt-1 pl-1 expression">Expression:</h4>

            <div
              id="expression-block"
              style="
                font-size: 40px;
                display: flex;
                justify-content: center;
                flex-direction: row;
              "
            >
              <p id="get-latexed-expression">
                <span style="overflow: hidden" class="text-muted copy-eq">
                  List of supported vars, nums.</span
                >
              </p>
              <div
                style="
                  margin-left: 20px;
                  display: flex;
                  justify-content: left;
                  flex-direction: row;
                "
                id="result-container"
              >
                <p id="right-arrow" class="pr-3 align-item-center"></p>
                <p id="get-result"></p>
              </div>
              <div class="btn-wrapper">
                <button onclick="myAlertTop()"   class="btn btn-warning" style="margin-left:20px" id="addpage"  >Add page <i class="fa fas fa-file-upload"></i></button>
                <div class="myAlert-top alert alert-primary" role="alert">
                  <p style="text-align: center;">Page added successfully</p>
                </div>
                <button id="see-button" class="btn btn-warning" href="#page-"><i class="fa far fa-eye"></i></button>
              </div>  

            </div>
          </div>

          <div class="bd-highlight">
            <div class="wrapper">
              <div id='all-canvas'>
              <canvas id="draw"></canvas>
              <canvas id="draw-lines" width="1280" height="720"></canvas>
              <canvas id="canvas"></canvas>
              </div>
              <!-- Canvas post form -->
              <form id="form1">
                {% csrf_token %}
                <input
                  type="hidden"
                  id="captured_image"
                  name="captured_image"
                />
                <div class="submit-button">
                  <input
                    id="upload_image"
                    class="m-1 pr-1 btn btn-warning"
                    type="submit"
                    value="Upload the image"
                  />
                </div>
              </form>
            </div>
            <div class="streamer">
              <video id="video" width="100%"></video>
            </div>
          </div>
        </div>
        <!-- end of canvas -->

        <!-- graph section -->
        <div class="d-flex flex-column bd-highlight">
          <div
            class="p-1 expression"
            style="height: 14vh; border: 1px solid #ccc"
          >
            <div class="d-flex flex-row justify-content-between copy-button">
              <h4 class="pt-1 pl-1 latex">Latex:</h4>
              <button
                id="copy-button"
                data-clipboard-target="#get-latex"
                style="position: absolute; top: 78px; right: 6px"
              >
                <img
                  src="{% static 'main/copy.svg' %}"
                  class="social m-3"
                  alt="github"
                  width="25"
                  height="25"
                />
              </button>
            </div>
            <p
              style="width: 23vw; display: flex; justify-content: center"
              id="get-latex"
            >
              <i id="deLatex" class="text-muted">Latex of expression</i>
            </p>
          </div>
          <div class="bd-highlight grapher">
            <div
              id="calculator"
              style="height: 79vh; border: 1px solid #ccc"
            ></div>
          </div>
        </div>

        <!-- end of graph section -->
      </div>

      <!-- ----------------------------PDF maker----------------- -->
      <section class='pdf-section' style="height: auto;" class="pdf-maker">
        <div class="pdfcontrol">
          <div style="color:#ffc107 ;background-color: var(--davys); border-top: 2px solid #ccc;" class="row">
            <div class="container">
              <p style="text-align:center; padding-top: 20px;" id='metadata'>Notebook_<script> document.write(new Date().toISOString().slice(0, 10)); </script></p>
              <div class="d-flex justify-content-center pdf-download pb-2">
                <a
                class='btn btn-primary'
                id='downloadbtn'
                onclick='generatePDF()'
                style='color:#ffffff'
                >
                <b>Create &amp; Download PDF</b>
                </a>
                <span id="genmsg" style="display:none;"><b>Generating PDF ...</b></span>
              </div>
            </div>
          </div>
        </div>
     
    <div style="margin: 20px;" >
      <div id="pages" class="row"></div>
    </div>
    
      <!-- <canvas style="margin-left:200px; border: 1px solid;" id="canvas-pdf" width="1280px" height="720px"></canvas> -->
      </section>
      
  

    <!------------------------EXTRAAAAAAAAAAA-------------------->
    <footer>
  <!-- Scroll to top button -->
  <button class="scrollToTopBtn"><i class="fa fas fa-chevron-up"></i></button>
  </footer>
  </body>
  <!-- Main import -->
  <script src="{% static 'app/app.js' %}"></script>
  <script src="{% static 'app/pdf.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"
    integrity="sha512-s/XK4vYVXTGeUSv4bRPOuxSDmDlTedEpMEcAQk0t/FMd9V6ft8iXdwSBxV0eD60c6w/tjotSlKu9J2AAW1ckTA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>


  <script>
    $('#copy-button').click(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });
    var clipboard = new ClipboardJS('#copy-button');

    clipboard.on('success', function (e) {
      console.log(e);
    });

    clipboard.on('error', function (e) {
      console.log(e);
    });
  </script>
  <script>
    var scrollToTopBtn = document.querySelector(".scrollToTopBtn")
    var rootElement = document.documentElement

    function handleScroll() {
      // Do something on scroll
      var scrollTotal = rootElement.scrollHeight - rootElement.clientHeight
      if ((rootElement.scrollTop / scrollTotal ) > 0.80) {
        // Show button
        scrollToTopBtn.classList.add("showBtn")
      } else {
        // Hide button
        scrollToTopBtn.classList.remove("showBtn")
      }
    }

    function scrollToTop() {
      // Scroll to top logic
      rootElement.scrollTo({
        top: 0,
        behavior: "smooth"
      })
    }
    scrollToTopBtn.addEventListener("click", scrollToTop)
    document.addEventListener("scroll", handleScroll)


    $("#see-button").click(function() {
      document.querySelector(".pdf-canvas").scrollIntoView();
});
  </script>
</html>
