<div class="davys-bg">
  <div class="step-padding col-md-8 offset-md-2">
    <div class="centered row">
      <a href="https://www.facebook.com/" target="_blank" rel="noreferrer"
        ><img
          src="/static/media/facebook.86c47daa.svg"
          class="social m-3"
          alt="facebook" /></a
      ><a href="https://www.instagram.com/" target="_blank" rel="noreferrer"
        ><img
          src="/static/media/instagram.ad943d44.svg"
          class="social m-3"
          alt="instagram" /></a
      ><a href="https://twitter.com/" target="_blank" rel="noreferrer"
        ><img
          src="/static/media/twitter.3d564eb8.svg"
          class="social m-3"
          alt="twitter" /></a
      ><a href="https://www.linkedin.com/" target="_blank" rel="noreferrer"
        ><img
          src="/static/media/linkedin.bb3d744a.svg"
          class="social m-3"
          alt="linkedin" /></a
      ><a
        href="https://github.com/ABCSquad/tracr"
        target="_blank"
        rel="noreferrer"
        ><img
          src="/static/media/github.47e6ca80.svg"
          class="social m-3"
          alt="github"
      /></a>
    </div>
    <h6 class="text-center mb-md-4 gainsboro-color">
      Copyright © 2021 CRAB Inc. All rights reserved.
    </h6>
  </div>
</div>
