body {
  background-color: azure;
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
}
#wrapper {
  position: relative;
  width: 1280px;
  height: 720px;
}

#draw {
  position: absolute;
  border: solid 1px #ccc;
  border-bottom: 2px solid #ccc;
  z-index: 1;
  cursor: pointer;
}

#video {
  display: none;
  margin: 0 auto;
  position: absolute;
  z-index: -1;
  opacity: 0.8;
  filter: opacity(100%);
}

.tools {
  display: flex;
  justify-self: center;
  flex-direction: column;
  margin-top: 15px;
}

.graph {
  height: 100vh;
}

.tools .color-field {
  height: 40px;
  width: 40px;
  min-height: 40px;
  min-width: 40px;
  cursor: pointer;
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid white;
  align-self: center;
  margin-bottom: 20px;
}

.tools .button {
  height: 40px;
  width: 40px;
  min-height: 40px;
  min-width: 40px;
  cursor: pointer;
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid white;
  align-self: center;
  margin-bottom: 20px;
}

.color-picker {
  align-self: center;
  margin: 0 10px;
  height: 50px;
}

.pen-range {
  align-self: center;
  margin: 0 10px;
}

redChalk_button {
  cursor: pointer;
  position: absolute;
  z-index: 99999;
  top: 620px;
  left: 160px;
}
greenChalk_button {
  cursor: pointer;
  position: absolute;
  z-index: 99999;
  top: 620px;
  left: 400px;
}
blueChalk_button {
  cursor: pointer;
  position: absolute;
  z-index: 99999;
  top: 620px;
  left: 480px;
}
yellowChalk_button {
  cursor: pointer;
  position: absolute;
  z-index: 99999;
  top: 620px;
  left: 320px;
}
orangeChalk_button {
  cursor: pointer;
  position: absolute;
  z-index: 99999;
  top: 620px;
  left: 240px;
}
pinkChalk_button {
  cursor: pointer;
  position: absolute;
  z-index: 99999;
  top: 620px;
  left: 560px;
}
whiteChalk_button {
  cursor: pointer;
  position: absolute;
  z-index: 99999;
  top: 620px;
  left: 80px;
}

.latex {
  display: flex;
  flex-direction: row;
}

#upload_image {
  position: relative;
  width: 100%;
}

.submit-button {
  margin: 0 17px 0 10px;
}

/* BUTTON TOGGLE */
.onoffswitch {
  position: relative;
  width: 100px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #ffffff;
  border-radius: 50px;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 41px;
  padding: 0;
  line-height: 41px;
  font-size: 25px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: 'ON';
  padding-left: 14px;
  background-color: #eeeeee;
  color: #34a7c1;
}
.onoffswitch-inner:after {
  content: 'OFF';
  padding-right: 14px;
  background-color: #eeeeee;
  color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  display: block;
  width: 38px;
  margin: 1.5px;
  background: #a1a1a1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 71px;
  border: 2px solid #ffffff;
  border-radius: 50px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
  background-color: #34a7c1;
}
